{% load static i18n thumbnail %}<!DOCTYPE html>

<ul>
  {% if notifications %}
    {% for notification in notifications %}
      <li class="clearfix">
        <i class="fa fa-heart" aria-hidden="true"></i>
        <p>{{ notification|safe }}</p>
        <p><small>{{ notification.timestamp }}</small></p>
      </li>
    {% endfor %}
    <a type="button" class="btn btn-light text-center float-left" href="{% url 'notifications:unread' %}">{% trans 'See all' %}</a>
    <a type="button" class="btn btn-light text-center float-right" href="{% url 'notifications:mark_all_read' %}">{% trans 'Mark all as read' %}</a>
  {% else %}
    <li class="text-center">{% trans 'You have no unread notification' %}</li>
  {% endif %}
</ul>
