{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Notifications' %}{% endblock %}

{% block head %}

{% endblock head %}

{% block content %}

  <div class="page-header">
    <h1>
      {% trans 'Unread notifications for' %}
      {% if request.user.name %}
        {{ request.user.name|title }}
      {% else %}
        {{ request.user.username|title }}
      {% endif %}
    </h1>
  </div>

  {% for notification in notification_list %}
    {{ notification }}

    </div>
  {% endfor %}

{% endblock content %}
