# PostgreSQL conf
# POSTGRES_PASSWORD=mysecretpass
# POSTGRES_USER=my_super_user
# POSTGRES_DB=bootcamp
# DATABASE_URL=postgresql://my_super_user:mysecretpass@127.0.0.1:5432/bootcamp
# CONN_MAX_AGE=
# To uncomment for an SQLite local testing
# DATABASE_URL=sqlite:///db.sqlite3
# URL to have SQLite example and to pass TravisCI
DATABASE_URL=sqlite:////tmp/db.sqlite3

# Domain name, used by caddy
# DOMAIN_NAME=http://trybootcamp.vitorfs.com

# General settings
READ_DOT_ENV_FILE=True
ADMIN_URL=
SETTINGS_MODULE=config.settings.test
SECRET_KEY=Sup3rS3cr3tP@22word
DEBUG=True
ALLOWED_HOSTS=*
# ALLOWED_HOSTS=.http://trybootcamp.vitorfs.com
# ACCOUNT_ALLOW_REGISTRATION=True

# AWS Settings
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# Used with email
MAILGUN_API_KEY=
SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
SECURE_SSL_REDIRECT=False

# Sentry
SENTRY_DSN=

# URL for Redis
REDIS_URL=redis://127.0.0.1:6379
