bleach==2.0.0
coverage==4.4.1
dj-database-url==0.4.2
dj-static==0.0.6
django-autoslug==1.9.3
django-taggit==0.22.1
Django==1.11.4
gunicorn==19.7.1
Markdown==2.6.8
Pillow==4.2.1
psycopg2==2.7.3
python-decouple==3.1
pytz==2017.2
Unipath==1.1
whitenoise==3.3.0
