{% load static i18n humanize %}
{% load thumbnail %}

<li>
 <img src="{{ message.sender.get_picture }}" class="user-image picture"
                                         style="width: 45px; border-radius: 50%;"
                                         alt="{% trans 'User Image' %}">
  <div>
    <b>
      <a href="{% url 'users:detail' message.sender.username  %}">{{ message.sender.get_profile_name|title }}</a>
    </b>
    <small> - {{ message.timestamp|date:'N d G:i' }}</small>
    <br>
    {{ message.message }}
  </div>
</li>
