@import url(http://fonts.googleapis.com/css?family=Audiowide);

body {
  background-color: #f6f6f6;
}

header .navbar-brand {
  font-size: 1.4em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
}

main .container {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid #ddd;
  background-color: #ffffff;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-radius: .3em;
  box-shadow: 0 1px 3px #cccccc;
}

.page-header {
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-weight: 100;
  font-size: 2em;
}

.no-data {
  text-align: center; 
  padding: 1em 0;
}