@import url(https://fonts.googleapis.com/css?family=Audiowide);

body {
    padding-top: 70px;
}

header .navbar-brand {
    font-size: 1.4em;
    font-weight: 200;
    font-family: "Audiowide", cursive;
}

.navbar-custom-style {
    margin-bottom: 10px;
    background: #2e3f54;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.16), 0 1px 3px rgba(12, 13, 14, 0.22),
    0 4px 20px rgba(12, 13, 14, 0.09), 0 1px 1px rgba(12, 13, 14, 0.06);
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.markdownx .markdownx-editor {
    border-style: none solid solid solid;
    width: 100%;
    margin-bottom: 25px;
}

.page-header {
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eeeeee;
}

.page-header h1 {
    margin: 0;
    font-weight: 100;
    font-size: 2em;
}

.no-data {
    text-align: center;
    padding: 1em 0;
}

.bell-notifications {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 4px;
    margin-right: 10px;
}

.bell-notifications .badge {
    font-size: 50%;
    position: absolute;
    right: -5px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.inbox-notifications {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding: 4px;
    margin-right: 10px;
}

.inbox-notifications .badge {
    font-size: 50%;
    position: absolute;
    right: -5px;
    border-radius: 50%;
    background-color: red;
    color: white;
}

.alert-debug {
    color: black;
    background-color: white;
    border-color: #d6e9c6;
}

.alert-error {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.popover {
    max-width: 350px;
    width: 350px;
}

.popover ul {
    padding: 0;
    margin: 0;
}

.popover ul li {
    list-style: none;
    border-bottom: 1px solid #eeeeee;
    padding: .4em 0;
}

.popover ul li:last-child {
    border-bottom: none;
}

.popover ul li .user-picture {
    width: 45px;
    float: left;
}

.popover ul li p {
    font-size: .9em;
    padding: 0 0 0 .6em;
    margin-left: 45px;
    margin-bottom: 0;
}

input[name="query"]#searchInput {
    background-color: rgb(246, 247, 248);
    padding-left: 30px;
    background-size: 18px;
    width: 360px;
    text-indent: 10px;
    margin: 0px 15px;
    outline: none;
    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(237, 239, 241);
    box-shadow: none;
    font-size: 14px;
    line-height: 21px;
}

input[name="query"]#searchInput:hover,
input[name="query"]#searchInput:focus {
    background-color: #fff;
    border-color: #2196f3;
}

