ul.stream {
  margin: 0;
  padding: 0;
}

ul.stream li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
}

ul.stream li:last-child {
  border-bottom: none;
}

ul.stream li a img.user {
  width: 60px;
  border-radius: 100px;
  float: left;
}

ul.stream li div.post {
  padding: 0 0.1em 0 1.2em;
  overflow-x: auto;
}

ul.stream li div.post h3 {
  font-size: 1em;
  margin: 0;
  margin-bottom: .2em;
}

ul.stream li div.post h3 small {
  margin-left: .3em;
  font-size: .8em;
}

ul.stream li div.post p {
  margin: 0;
}

ul.stream li div.post div.interaction {
  padding-top: 0;
}

ul.stream li div.post div.interaction a {
  margin-right: .6em;
  font-size: .8em;
}

.post {
  margin-left: 10px;
  padding: 0 0 0 1.2em;
  overflow-x: auto;
}

.timestamp {
  font-size: 0.8em;
  color: grey;
}

.profile-picture {
  float: left;
}

.profile-picture img {
  width: 60px;
  border-radius: 50%;
}

.news-body {
  padding: 0.8rem;
  overflow-x: auto;
}

.news-comment {
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  overflow-x: auto;
}

.interaction {
  font-size: 1.2em;
  color: #333333
}

.interaction a {
  margin-right: 1.3em;
  text-decoration: none;
}

.interaction a span {
  margin-left: 0.3em;
}

.stream-update {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  display: none;
}

.stream-update a {
  display: block;
  padding: .6em 0;
  background-color: #f5f8fa;
}

.stream-update a:hover {
  text-decoration: none;
  background-color: #e1e8ed;
}

.compose {
  display: none;
  border-bottom: 1px solid #eee;
  padding-left: 15px;
  padding-right: 15px;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.compose h2 {
  font-size: 1.4em;
}

.empty {
  margin: 0 .8em;
  font-size: .9em;
}

.load {
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #eeeeee;
  display: none;
  padding: 15px 0;
}

.loadcomment {
  text-align: center;
}

.remove-news {
  color: #bbbbbb;
  float: right;
  cursor: pointer;
}

.remove-news:hover {
  color: #333333;
}