.stream {
  margin: 2em 0 0 0;
  padding: 0;
}

.stream li {
  list-style: none;
  border-style: solid none solid none;

}

.stream li:last-child {
  border-bottom: none;
}

.post {
  margin-left: 10px;
  padding: 0 0 0 1.2em;
  overflow-x: auto;
}

.timestamp {
  font-size: 0.8em;
  color: grey;
  float: right;
}

.profile-picture {
  margin-right: 0.5em;
  float: left;
}

.profile-picture img {
  width: 60px;
  border-radius: 50%;
}

.interaction {
  padding-left: 1.5em;
  margin-bottom: 1em
}

.interaction a {
  margin-right: 1.3em;
  font-size: 1.1em;
  text-decoration: none;
}

.interaction a span {
  margin-left: 0.5em;
}

.stream-update {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  display: none;
}

.stream-update a {
  display: block;
  padding: .6em 0;
  background-color: #f5f8fa;
}

.stream-update a:hover {
  text-decoration: none;
  background-color: #e1e8ed;
}

.compose {
  display: none;
  border-bottom: 1px solid #eee;
  padding-left: 15px;
  padding-right: 15px;
}

.col-centered {
  float: none;
  margin-right: auto;
  margin-left: auto;
}

.compose h2 {
  font-size: 1.4em;
}

.comments {
  margin-top: .6em;
  display: none;
}

.comments ol {
  margin: .8em 0 0;
  padding: .2em 0;
  background-color: #f4f4f4;
  border-radius: 3px;
  overflow-x: auto;
}

.comments ol li {
  list-style: none;
  padding: 0;
}

.comments ol li img.user-comment {
  width: 35px;
  border-radius: 4px;
  float: left;
  margin-left: 10px;
}

.comments ol li div {
  margin-left: 45px;
  padding: 0 .8em;
  font-size: .9em;
}

.comments ol li {
  padding: .6em .6em .6em 0;
  border-bottom: none;
}

.comments ol li h4 {
  margin: 0;
  margin-left: 45px;
  padding: 0 0 .2em .8em;
  font-size: .9em;
}

.comments ol li h4 small {
  margin-left: .3em;
}

.empty {
  margin: 0 .8em;
  font-size: .9em;
}

.load {
  text-align: center;
  padding-top: 1em;
  border-top: 1px solid #eeeeee;
  display: none;
  padding: 15px 0;
}

.loadcomment {
  text-align: center;
}

.remove-news {
  color: #bbbbbb;
  font-size: .8em;
  padding-top: .2em;
  float: right;
  cursor: pointer;
}

.remove-news:hover {
  color: #333333;
}
