.notification-list{
    line-height: 1;
    list-style:none;
    text-align: center;
    margin:0;
    padding:0;
  }

  .notification-list li{
    display: inline-block;
    box-sizing:border-box;
    position: relative;

    text-align:left;
    font:normal 16px sans-serif;
    padding: 15px 30px 15px 20px;
    margin: 12px;

    background-color:#f4f8fa;
    border:1px solid #dbe3e7;
    box-shadow: 0 2px 3px #dbe3e7;
  }

  .notification-list .user-avatar{
    float: left;
    width:100px;
    text-align: left;
  }

  .notification-list .user-avatar img{
    border-radius: 50%;
    border:0;
  }

  .notification-list p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    text-align: left;
    margin-top: 20px;
    max-width:340px;
  }

  .notification-list p a{
    color:#5d6569;
    text-decoration: none;
    font-weight:bold;
    font-size:18px;
  }

  .notification-list p span{
    display: block;
    font-size: 13px;
    color:#808d93;
    padding-top:4px;
  }

  .notification-list .dismiss{
    background-color: rgb(253, 253, 253);
    border-radius: 50%;
    color:rgb(0, 128, 0);
    font-size: 26px;
    line-height: 26px;
    width: 26px;
    height: 26px;
    position: absolute;
    top:-10px;
    right:-10px;
    text-align: center;
    text-decoration: none;

  }

  /* Making the list responsive */

  @media (max-width: 400px) {

    .notification-list li{
        margin: 10px 0;
    }

    .notification-list .delete{
        top: 10px;
        right: 10px;
    }

  }
