ul.stream {
  margin: 0;
  padding: 0;
}

ul.stream li {
  list-style: none;
  border-bottom: 1px solid #eeeeee;
  padding: 1em 0;
}

ul.stream li:hover {
  cursor: pointer;
  background-color: #f5f8fa;
}

ul.stream li:last-child {
  border-bottom: none;
}

ul.stream li a img.user {
  width: 60px;
  border-radius: 5px;
  float: left;
}

ul.stream li div.post {
  margin-left: 60px;
  padding: 0 1.2em;
}

ul.stream li div.post h3 {
  font-size: 1em;
  margin: 0;
  margin-bottom: .2em;
}

ul.stream li div.post h3 small {
  margin-left: .3em;
  font-size: .8em;
}

ul.stream li div.post p {
  margin: 0;
}

ul.stream li div.post div.interaction {
  padding-top: .2em;
}

ul.stream li div.post div.interaction a {
  margin-right: .6em;
  font-size: .9em;
}

.stream-update {
  text-align: center;
  border-bottom: 1px solid #eeeeee;
  display: none;
}

.stream-update a {
  display: block;
  padding: .6em 0;
  background-color: #f5f8fa;
}

.stream-update a:hover {
  text-decoration: none;
  background-color: #e1e8ed;
}

.compose {
  display: none;
  border-bottom: 1px solid #eee;
}

.compose h2 {
  font-size: 1.4em;
}