{% load i18n %}
{% load static %}
{% load account socialaccount %}
{% providers_media_js %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% trans 'Account Login' %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-social.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">

</head>
<body>
{% get_providers as socialaccount_providers %}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
            <span class="login100-form-title p-b-32">{% trans 'Login' %}</span>
            <span class="txt3">
          </span>
            <form class="login" method="POST" action="{% url 'account_login' %}">
             <a href="{% provider_login_url "facebook" method="js_sdk" %}"
                   class="btn btn-block btn-social btn-facebook">
                    <span class="fa fa-facebook"></span>
                    Sign in with Facebook
                </a>
{#                <a href="#" method=""#}
{#                   class="btn btn-block btn-social btn-google">#}
{#                    <span class="fa fa-google"></span>#}
{#                    Sign in with Google#}
{#                </a>#}
                <div class="or-seperator"><i>or</i></div>
                {% csrf_token %}
                {{ form|crispy }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="form-group container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">{% trans 'Login' %}</button>
                </div>
                <div class="form-group container-login100-form-btn">
                    <a href="{% url 'account_reset_password' %}"
                       class="btn btn-link pull-right">{% trans 'Forgot your password?' %}</a>
                    <p class="btn">{% trans "Don't have an account?" %}<a href="{% url 'account_signup' %}"
                                                                          class="btn btn-link">{% trans 'Sign up' %}</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

{% block modal %}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '235733170178008',
                xfbml: true,
                version: 'v7.0'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
{% endblock modal %}
