{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner %}
    <div class="page-header">
        <h1>{% trans 'Account Settings' %}</h1>
    </div>
    <div class="row profile">
        <div class="col-md-3">
            {% include 'users/user_account_menu.html' with active='password' %}
        </div>
        <div class="col-md-8">
             <h1>{% trans "Set Password" %}</h1>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
        </div>
    </div>
{% endblock %}



