{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner %}
    <div class="page-header">
        <h1>{% trans 'Account Settings' %}</h1>
    </div>
    <div class="row profile">
        <div class="col-md-3">
            {% include 'users/user_account_partial_menu.html' with active='password' %}
        </div>
        <div class="col-md-8">
            <h3 style="margin-bottom: 15px">{% trans 'Change Password' %}</h3>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

