{% extends 'base.html' %}

{% block title %} Articles {% endblock %}

{% block head %}
  <link href="{{ STATIC_URL }}css/articles.css" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
    <a href="{% url 'write' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-pencil"></span> Write Article
    </a>
    <a href="{% url 'drafts' %}" class="btn btn-default pull-right" style="margin-right: .8em">Drafts</a>
    <h1>Articles</h1>
  </div>
  <div class="row">
    <div class="col-md-10">
      <section class="articles">
        {% for article in articles %}
          {% include 'articles/partial_article.html' with article=article %}
        {% empty %}
          <h4 class="no-data">There is no published article yet. <a href="{% url 'write' %}">Be the first one to publish!</a></h4>
        {% endfor %}
      </section>
    </div>
    <div class="col-md-2 popular-tags">
      <h4>Popular Tags</h4>
      {% for tag, count in popular_tags %}
        <a href="{% url 'tag' tag %}"><span class="label label-default">{{ count }} {{ tag }}</span></a>
      {% endfor %}
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'>
      <ul class="pagination center">
	<li>
	  {% if page_obj.has_previous %}
	  <a href="?page={{ page_obj.previous_page_number }}">prev</a>
	  {% endif %}
	</li>
        {% for page in page_obj.paginator.page_range %}
        <li class="{% if i == page_obj.number %}active{% endif %}">
          <a href="?page={{ page }}">{{ page }}</a>
        </li>
        {% endfor %}
	<li>
	  {% if page_obj.has_next %}
	  <a href="?page={{ page_obj.next_page_number }}">next</a>
	  {% endif %}
	</li>
      </ul>
    </div>
  </div>
{% endblock main %}
