{% load humanize i18n static humanize %}
{% load thumbnail %}

<div class="card questions" question-id="{{ question.pk }}">
  <div class="card-body">
    <div class="question-info pull-left text-center">
      <h3>{{ question.count_answers }}</h3>
      <small class="text-secondary">{% trans 'Answers' %}</small>
      <h3>{{ question.count_likers }}</h3>
      <small class="text-secondary">{% trans 'Likes' %}</small>
      <h3>{{ question.count_votes }}</h3>
      <small class="text-secondary">{% trans 'Votes' %}</small>
    </div>
    <div>
      <h4 class="card-title">
        {% if question.has_answer %}
          <i class="fa fa-check-circle" aria-hidden="true"></i>
        {% endif %}
        <a href="{% url 'qa:question_detail' question.pk %}">{{ question.title }}</a>
      </h4>
      <p>{{ question.content|truncatechars:100 }}</p>
      <div class="question-user pull-right">
        <span class="text-secondary">{% trans 'Asked' %} {{ question.timestamp|naturaltime }} {% trans 'by' %}</span>
        <a href="{% url 'users:detail' question.user.username  %}">
          {% if question.user.name %}
            {{ question.user.name|title }}
          {% else %}
            {{ question.user.username|title }}
          {% endif %}
        </a>
        {% if question.tags.names %}
          <p style="position: absolute; bottom: 0;">
            {% for tag in question.tags.names %}
              <span class="badge badge-primary">{{ tag }}</span>
            {% endfor %}
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
