{% load i18n %}

<div class="modal fade" id="newsFormModal" tabindex="-1" role="dialog" aria-labelledby="newsFormModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Share something new!" %}</h5>
        <button type="button" class="btn close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form enctype="multipart/form-data" id="postNewsForm" role="form" method="post" action="">
          {% csrf_token %}
          <div class="form-group">
            <textarea id="newsInput" name="post" rows="3" class="form-control" maxlength="280"></textarea>
            <span id="newsCounter" class="pull-right">280</span>

              <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill shadow-sm">
                <input id="imageInput" type="file" name="image" hidden="true" class="form-control border-0">
                <label id="upload-label" for="imageInput" hidden="true" class="font-weight-light text-muted"></label>
                <div class="input-group-append">
                    <label for="imageInput" class="btn btn-light m-0 rounded-pill px-4"> <i class="fa fa-cloud-upload mr-2 text-muted"></i><small class="text-uppercase font-weight-bold text-muted">Upload Image</small></label>
                </div>
            </div>
            <!-- Uploaded image area-->
            <div class="image-area mt-4"><img id="imageResult" src="#" alt="" class="img-fluid rounded shadow-sm mx-auto d-block"><i class="removeImage fa fa-trash" hidden="true" id="removeImage" aria-hidden="true"></i></div>

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="postNews" class="btn btn-primary">
          <i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Post' %}
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
      </div>
    </div>
  </div>
</div>
