{% extends 'base.html' %}
{% load static i18n humanize %}


{% block head %}
  <link href="{% static 'css/news.css' %}?v=1" rel="stylesheet">
{% endblock head %}


{% block content %}

<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>{% trans 'News' %}</h1>
    </div>
    <div class="col-md-6 col-centered">

      <div class="panel-heading">
        <button type="button" class="btn btn-primary pull-right btn-compose" title="{% trans 'Press Ctrl + P to compose' %}">
          <i class="fa fa-share-alt" aria-hidden="true"></i> {% trans 'Share something' %}
        </button>
        <h3 class="panel-title">{% trans 'Latest posts' %}</h3>
      </div>
      <div class="panel panel-default panel-feed">

        <div class="panel-body">

          <div class="compose">
            <h2>{% trans "Compose a new post" %}</h2>
            <form role="form" id="compose-form">
              {% csrf_token %}
              <input type="hidden" name="last_feed">
              <div class="form-group">
                <textarea class="form-control" rows="3" name="post"></textarea>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-post">
                  <i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Post' %}
                </button>
                <button type="button" class="btn btn-default btn-cancel-compose">{% trans 'Cancel' %}</button>
                <span class="help-block help-count pull-right">255</span>
              </div>
            </form>
          </div>
          <div class="stream-update">
            <a href="#"><span class="new-posts"></span> {% trans 'new posts' %}</a>
          </div>
          <ul class="stream">
            {% for news in news_list %}
              {% include 'news/partial_news.html' with news=news %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
