{% load i18n static %}
{% load thumbnail %}

<div class="modal fade" id="newsThreadModal" tabindex="-1" role="dialog" aria-labelledby="newsThreadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <ul class="stream" id="newsContent"></ul>
            </div>
            <!-- Body -->
            <div class="modal-body">
                <form id="replyNewsForm" role="form" method="post" action="#" onsubmit="return false">
                    {% csrf_token %}
                    <input type="hidden" name="parent" value="">
                    <div class="form-group">
                                        <textarea id="replyInput" name="reply" rows="2" class="form-control"
                                                  maxlength="280"></textarea>
                        <span id="replyCounter" class="pull-right">280</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="replyNews" class="btn btn-primary pull-right">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i> {% trans 'Reply' %}
                </button>
            </div>
            <!-- Body -->

            <ul class="stream" id="threadContent"></ul>

        </div>
    </div>
</div>
