{% load i18n %}

<div class="list-group">
  <a href="{% url 'inbox' %}" class="list-group-item{% if active == 'inbox' %} active{% endif %}">
    <span>{% trans 'Inbox' %}</span>
    <span class="badge">0</span>
  </a>
  <a href="{% url 'compose' %}" class="list-group-item{% if active == 'compose' %} active{% endif %}">
    <span>{% trans 'Compose' %}</span>
  </a>
  <a href="{% url 'sent' %}" class="list-group-item{% if active == 'sent' %} active{% endif %}">
    <span>{% trans 'Sent' %}</span>
  </a>
</div>