{% extends "base.html" %}

{% block title %}<title>Your groups</title>{% endblock %}

{% block content %}

{#{% include "groups/includes/page_heading.html" with text="Your Groups" %}#}
{% if user_groups %}
  {% include "groups/includes/partial_group.html" with groups=user_groups %}
{% else %}
  <div class="card p-4 my-4 mx-0">
    <h6 class="text-center">No Groups Found</h6>
    <div style="margin:0 auto;">
    <p class="text-muted">You have not created any groups created yet.</p>
    </div>
  </div>
{% endif %}

<script type="text/javascript">
// Subscribe groups
$(document).ready(function(){
  $("a#subscribe_group").on("click", function () {
    {% if not request.user.is_authenticated %}
    window.location.href = "{% url 'login' %}";
    {% else %}
    var $msg=$(this);
    var $subscribe_url=$(this).attr("href");
    var $group_subscribers=$('span#group_subscribers')
    $.ajax({
      url: $subscribe_url,
      type: 'GET',
      success: function (data) {
        if ($msg.text() == 'Subscribe') {
          $msg.removeClass('btn-primary');
          $msg.addClass('btn-secondary');
          $msg.text('Unsubscribe');
          $group_subscribers.text(data + ' readers');
        } else if ($msg.text() == 'Unsubscribe') {
          $msg.removeClass('btn-secondary');
          $msg.addClass('btn-primary');
          $msg.text('Subscribe');
          $group_subscribers.text(data + ' readers');
        } else { console.log('Unexpected error!'); }
      }
    });
    {% endif %}
    return false;
  });
});
</script>

{% endblock %}
