{% load humanize %}

<li feed-id="{{ feed.pk }}" csrf="{{ csrf_token }}">
  <a href="#"><img src="http://vitorfs.com/img/picture.jpg" class="user"></a>
  <div class="post">
    <h3><a href="#">{{ feed.user.get_full_name }}</a> <small>{{ feed.date|naturaltime }}</small></h3>
    <p>{{ feed.post }}</p>
    <div class="interaction">
      {% if user in feed.get_likers %}
        <a href="#" class="like unlike">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <span class="text">Unlike</span>
          (<span class="like-count">{{ feed.likes }}</span>)
        </a>
      {% else %}
        <a href="#" class="like">
          <span class="glyphicon glyphicon-thumbs-up"></span>
          <span class="text">Like</span>
          (<span class="like-count">{{ feed.likes }}</span>)
        </a>
      {% endif %}
      <a href="#" class="comment">
        <span class="glyphicon glyphicon-comment"></span> Comment 
        (<span class="comment-count">0</span>)
      </a>
    </div>
    <div class="comments">
      <form role="form">
        {% csrf_token %}
        <input type="text" class="form-control input-sm" placeholder="Write a comment...">
      </form>
      <ol class="clearfix">
        <li>
          <a href="#"><img src="http://vitorfs.com/img/picture.jpg" class="user-comment"></a>
          <h4><a href="">Vitor Freitas</a> <small>3 minutes ago</small></h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </li>
        <li>
          <a href="#"><img src="http://vitorfs.com/img/picture.jpg" class="user-comment"></a>
          <h4><a href="">Vitor Freitas</a> <small>3 minutes ago</small></h4>
          <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</div>
        </li>
      </ol>
    </div>
  </div>
</li>