{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% get_current_language as CURRENT_LANGUAGE %}
<form id="formlang" action="{% url 'i18n:set_language' %}"  style="margin: 15px 0px 15px 5px;" method="POST">
  {% csrf_token %}
  <select id="selectlang" name="language">
      {% for lang in LANGUAGES %}
      <option value="{{ lang.0 }}">{{ lang.1 }}</option>
      {% endfor %}
  </select>
</form>

<script type="text/javascript">
$(document).ready(function(){
    var lang = '{{ CURRENT_LANGUAGE }}';
    $('#selectlang').val(lang);
});
$("#selectlang").change(function() {
     $("#formlang").submit();
});
</script>
