{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
  <link href="{% static 'css/messages.css' %}" rel="stylesheet">
  <script src="{% static 'js/messages.js' %}"></script>
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>{% block page_header %}{% endblock %}</h1>
  </div>
  <div class="row" style="margin-top: 1em">
    <div class="col-md-3">
      {% include 'messenger/includes/partial_conversations.html' with conversations=conversations active=active %}
    </div>
    <div class="col-md-9" id='chat-container'>
      {% block container %}
      {% endblock container %}
    </div>
    <script src="{% static 'js/box-reziser.js'%}"></script>
  </div>
{% endblock main %}
