{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}<title>Followers</title>{% endblock %}

{% block content %}
{#{% include "includes/page_heading.html" with text="Followers" %}#}
{% if users %}
  {% include "users/includes/partial_user.html" with users=users %}
{% else %}
  <div class="card p-4 my-4 mx-0">
    <h6 class="text-center">No Followers Found</h6>
    <div style="margin:0 auto;">
    <p class="text-muted">You don't have any followers right now.</p>
    </div>
  </div>
{% endif %}

{% endblock content %}

{% block modal %}
  {% include "users/includes/partial_user_js.html" %}
{% endblock modal %}