<div id="contact-info" class="card">
    <div class="card-body">
        <h4 class="card-title">
            {% ifequal request.user object %}
            {% else %}
            {% if not request.user in object.contact_list.all %}
            {% if request.user in object.pending_list.all %}
            <a href="{% url 'users:send_message_request' object.id %}"
               class="btn btn-primary btn-sm"
               id="send_message_request"
               style="margin-right: 10px;"
               title="Request sent to this users">Request Sent</a>
            {% else %}
            <a href="{% url 'users:send_message_request' object.id %}"
               class="btn btn-outline-primary btn-sm"
               id="send_message_request"
               style="margin-right: 10px;"
               title="Send request to this user to start conversation">Send Request</a>
            {% endif %}
            {% else %}
            <!-- Block User Trigger -->
            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                    data-target="#blockUserModel">Block
            </button>

            <!-- Block User Modal -->
            <div class="modal fade" id="blockUserModel" tabindex="-1" role="dialog"
                 aria-labelledby="Block User" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Once you block the user, you cannot message him again until he
                                accepts your
                                request.</h5>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btn-sm"
                                    data-dismiss="modal">
                                Cancel
                            </button>
                            <a href="{% url 'users:block_spammer' object.id %}"
                               class="btn btn-primary btn-sm"
                               id="block_spammer" style="margin-right: 10px;"
                               title="Block this user">Block</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'messager:conversation_detail' object.username %}"
               class="btn btn-outline-primary btn-sm"
               id="send_msg" title="Send message to this user" style="margin-right: 10px;">Message</a>
            {% endif %}
            {% endifequal %}

            {% ifequal request.user object %}
            {% else %}
            {% if request.user in object.followers.all %}
            <a href="{% url 'users:follow_user' object.id %}" class="btn btn-primary btn-sm"
               id="follow_user">Unfollow</a>
            {% else %}
            <a href="{% url 'users:follow_user' object.id %}"
               class="btn btn-outline-primary btn-sm"
               id="follow_user">Follow</a>
            {% endif %}
            {% endifequal %}
        </h4>
        <!--                <p class="card-text"><strong>{{ user.inspected_boards.count }}</strong> boards created.</p>-->
        <!--                <p class="card-text"><strong>{{ user.posted_subjects.count }}</strong> subjects posted.</p>-->
        <!--                <p class="card-text"><strong>{{ user.subscribed_boards.count }}</strong> boards subscribed.</p>-->
        <!--                <p class="card-text">Member since <span-->
        <!--                        title="{{ user.member_since|date:" D d M Y" }} | {{ user.member_since|time:"H:i:s" }}">{{-->
        <!--                    user.member_since|date:"M d Y" }}</span>-->
        <!--                </p>-->
        <!--                <br>-->

        <h1 class="fn">
            {{ object.get_profile_name }}
            {% if object.short_bio %}
            <br/><small style="font-size: 50%">{{ object.short_bio }}</small>
            {% endif %}
        </h1>
        <p>
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            {{ object.username }}
            <br/>
            <i class="fa fa-envelope" aria-hidden="true"></i><a class="email"
                                                                href="mailto:{{ object.email }}"> {{ object.email }}</a><br/>
            {% if object.job_title %}
            <i class="fa fa-briefcase" aria-hidden="true"></i> {{ object.job_title }} <br/>
            {% endif %}
            {% if object.location %}
            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.location }} <br/>
            {% endif %}
        </p>
        <div id="objective"><p>{{ object.bio }}</p></div>
        <div class="clear"></div>
        {% if object.personal_url %}
        <a href="{{ object.personal_url }}" style="font-size: 2em" title="{% trans 'RSS Channel' %}"><i
                class="fa fa-rss"></i> </a>
        {% endif %}
        {% if object.twitter_account %}
        <a href="{{ object.twitter_account }}" style="font-size: 2em" title="{% trans 'Twitter Profile' %}"><i
                class="fa fa-twitter"></i> </a>
        {% endif %}
        {% if object.github_account %}
        <a href="{{ object.github_account }}" style="font-size: 2em" title="{% trans 'Github Profile' %}"><i
                class="fa fa-github"></i> </a>
        {% endif %}
        {% if object.linkedin_account %}
        <a href="{{ object.linkedin_account }}" style="font-size: 2em"
           title="{% trans 'LinkedIn Profile' %}"><i
                class="fa fa-linkedin"></i> </a>
        {% endif %}
        {% if object.facebook_account %}
        <a href="{{ object.facebook_account }}" style="font-size: 2em"
           title="{% trans 'Facebook Profile' %}"><i
                class="fa fa-facebook"></i> </a>
        {% endif %}
    </div>
</div>