{% extends "base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Profile" %}{% endblock %}

{% block head %}
    <link href="{% static 'css/user_profile.css' %}?v=1" rel="stylesheet">
    <link href="{% static 'css/news.css' %}?v=1" rel="stylesheet">

{% endblock head %}

{% block content %}
    {#    {% if request.user.username == object.username %}#}
    {#    {% endif %}#}
    <div class="page-header">
        <h1>{% trans 'Profile' %}</h1>
    </div>
    <div class="row">
        <div class="col-md-3 user-profile" style="text-align:center">
            <img src="{{ object.get_picture }}" class="user-image"
                 style="width: 150px; border-radius: 50%;"
                 alt="{% trans 'User Image' %}">
{#            {% include 'users/user_profile_menu.html' with active='user_detail' %}#}

        </div>
        <div class="col-md-8">
            <div id="contact-info" class="card">
                <div class="card-body">
                    <h4 class="card-title">
                        {% ifequal request.user object %}
                        {% else %}
                            {% if not request.user in object.contact_list.all %}
                                {% if request.user in object.pending_list.all %}
                                    <a href="{% url 'users:send_message_request' object.id %}"
                                       class="btn btn-primary btn-sm"
                                       id="send_message_request"
                                       style="margin-right: 10px;"
                                       title="Request sent to this users">Request Sent</a>
                                {% else %}
                                    <a href="{% url 'users:send_message_request' object.id %}"
                                       class="btn btn-outline-primary btn-sm"
                                       id="send_message_request"
                                       style="margin-right: 10px;"
                                       title="Send request to this user to start conversation">Send Request</a>
                                {% endif %}
                            {% else %}
                                <!-- Block User Trigger -->
                                <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal"
                                        data-target="#blockUserModel">Block
                                </button>

                                <!-- Block User Modal -->
                                <div class="modal fade" id="blockUserModel" tabindex="-1" role="dialog"
                                     aria-labelledby="Block User" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Are you sure?</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <h5>Once you block the user, you cannot message him again until he
                                                    accepts your
                                                    request.</h5>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary btn-sm"
                                                        data-dismiss="modal">
                                                    Cancel
                                                </button>
                                                <a href="{% url 'users:block_spammer' object.id %}"
                                                   class="btn btn-primary btn-sm"
                                                   id="block_spammer" style="margin-right: 10px;"
                                                   title="Block this user">Block</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'messager:conversation_detail' object.username %}"
                                   class="btn btn-outline-primary btn-sm"
                                   id="send_msg" title="Send message to this user"
                                   style="margin-right: 10px;">Message</a>
                            {% endif %}
                        {% endifequal %}

                        {% ifequal request.user object %}
                        {% else %}
                            {% if request.user in object.followers.all %}
                                <a href="{% url 'users:follow_user' object.id %}" class="btn btn-primary btn-sm"
                                   id="follow_user">Unfollow</a>
                            {% else %}
                                <a href="{% url 'users:follow_user' object.id %}"
                                   class="btn btn-outline-primary btn-sm"
                                   id="follow_user">Follow</a>
                            {% endif %}
                        {% endifequal %}
                    </h4>
                    <h1 class="fn">
                        {{ object.get_profile_name }}
                    </h1>
                    <p>
                        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        {{ object.username }}
                        <br/>
                        <i class="fa fa-envelope" aria-hidden="true"></i><a class="email"
                                                                            href="mailto:{{ object.email }}"> {{ object.email }}</a><br/>
                        {% if object.job_title %}
                            <i class="fa fa-briefcase" aria-hidden="true"></i> {{ object.job_title }} <br/>
                        {% endif %}
                        {% if object.location %}
                            <i class="fa fa-map-marker" aria-hidden="true"></i> {{ object.location }} <br/>
                        {% endif %}
                    </p>
                    <div id="objective"><p>{{ object.bio }}</p></div>
                    <div class="clear"></div>
                    {% if object.personal_url %}
                        <a href="{{ object.personal_url }}" style="font-size: 2em" title="{% trans 'RSS Channel' %}"><i
                                class="fa fa-rss"></i> </a>
                    {% endif %}
                </div>
            </div>
            <div class="container mt-3">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#user_activity">Activity</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#user_friends">Friends</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#user_friend_requests">Friend Requests</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#user_followers">Followers</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#user_following">Following</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="user_activity" class="container tab-pane active"><br>
                       {% include 'users/user_activity.html' %}
                    </div>
                     <div id="user_friend_requests" class="container tab-pane fade"><br>
                        {% include 'users/user_friend_requests.html' with users=object.pending_list.all %}
                    </div>
                    <div id="user_friends" class="container tab-pane fade"><br>
                       {% include 'users/user_friends.html' with users=object.contact_list.all %}
                    </div>
                    <div id="user_followers" class="container tab-pane fade"><br>
                        {% include 'users/user_followers.html' with users=object.followers.all %}
                    </div>
                     <div id="user_following" class="container tab-pane fade"><br>
                        {% include 'users/user_following.html' %}
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock content %}

{% block modal %}
    {% include "users/includes/partial_user_js.html" %}
{% endblock modal %}
