{% extends "base.html" %}
{% load static i18n %}
{% load thumbnail %}
{% block title %}{% trans 'Network' %}{% endblock %}

{% block head %}
    <link href="{% static 'css/user_profile.css' %}?v=1" rel="stylesheet">
{% endblock head %}

{% block content %}

    <div class="page-header">
        <h1>{% trans 'Network' %}</h1>
    </div>

    <ul class="user-profiles-list">
        {% if user_list %}
            {% include "users/includes/partial_user.html" with users=user_list %}
        {% else %}
            <div class="card p-4 my-4 mx-0">
                <h6 class="text-center">No Network Found</h6>
                <div style="margin:0 auto;">
                    <p class="text-muted">You don't have any contact right now.</p>
                </div>
            </div>
        {% endif %}
    </ul>

{% endblock content %}

{% block modal %}
    {% include "users/includes/partial_user_js.html" %}
{% endblock modal %}
