<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Bootcamp{% endblock %}</title>
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootcamp.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{{ STATIC_URL }}js/jquery-2.1.1.min.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock head %}
  </head>
  <body>
    <header>
      <div class="container">
        <h1><a href="{% url 'home' %}">Bootcamp</a></h1>
        <ul class="menu">
          <li><a href="{% url 'feeds' %}">Feeds</a></li>
          <li><a href="#">Articles</a></li>
          <li><a href="{% url 'questions' %}">Q&A</a></li>
          <li><a href="#">Network</a></li>
        </ul>
        <ul class="settings">
          <li class="user"><a href="#">vitorfs</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">Sign Out</a></li>
        </ul>
      </div>
    </header>
    <main>  
      <div class="container">
        {% block main %}
        {% endblock main %}
      </div>
    </main>
  </body>
</html>