www.{$DOMAIN_NAME} {
    redir https://admin@antisocialnetwork.live www.antisocialnetwork.live
}

{$DOMAIN_NAME} {
    proxy / django:5000 {
        header_upstream Host {host}
        header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }
    log stdout
    errors stdout
    gzip
}
