{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ page_user.profile.get_screen_name }}{% endblock %}

{% block head %}
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
  <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
  <link href="{% static 'css/top_tiles.css' %}" rel="stylesheet">
  <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
  <script src="{% static 'js/feeds.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js" type="text/javascript"></script>
{% endblock head %}
{% block extrahead %}

{% endblock extrahead %}
{% block main %}
  <div class="page-header">
    <h1>{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}<small>({{ page_user.username }})</small>{% endif %}</h1>
  </div>
  <div class="profile">
    <!--<h4>{% trans 'Most Recent Activity by' %} {{ page_user.profile.get_screen_name }}</h4>-->
    <div class="row">
      <!--Profile tile-->
      <div class="col-md-3 user-profile">
        <img src="{{ page_user.profile.get_picture }}" class="picture">
        <ul>
          {% if page_user.profile.job_title %}
          <li><span class="glyphicon glyphicon-briefcase"></span> {{ page_user.profile.job_title }}</li>
          {% endif %}
          {% if page_user.profile.location %}
          <li><span class="glyphicon glyphicon-map-marker"></span> {{ page_user.profile.location }}</li>
          {% endif %}
          {% if page_user.profile.url %}
          <li><span class="glyphicon glyphicon-globe"></span> <a href="{{ page_user.profile.get_url }}" target="_blank">{{ page_user.profile.get_url }}</a></li>
          {% endif %}
        </ul>
      </div>
      <!--Profile tile-->
      <!--Main graphic-->
      <div class="col-md-9">
         <canvas id="bar_chart" width="400" height="160"></canvas>
         <script src="{% static 'js/graph_data.js' %}"></script>
        <div class="load">
          <img src="{% static 'img/loading.gif' %}">
        </div>
      </div>
      <!--Main graphic-->
    </div>
    <div class="row tile_count">
      <!-- Data tiles -->
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-envelope"></i> {% trans 'Feeds' %}</span>
        <div class="count">{{ feeds_count }}</div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-pencil"></i> {% trans 'Articles' %}</span>
        <div class="count">{{ article_count }}</div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-comment"></i> {% trans 'Comments' %}</span>
        <div class="count">{{ article_comment_count }}</div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-question-sign"></i> {% trans 'Questions' %}</span>
        <div class="count">{{ question_count }}</div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-education"></i> {% trans 'Answers' %}</span>
        <div class="count">{{ answer_count }}</div>
      </div>
      <div class="col-md-2 col-sm-3 col-xs-4 tile_stats_count">
        <span class="count_top"><i class="glyphicon glyphicon-fire"></i> {% trans 'Global Interactions' %}</span>
        <div class="count">{{ global_interactions }}</div>
      </div>
      <!-- /data tiles -->
      <!--Line graph-->
      <div class="col-md-12">
        <canvas id="line_chart" width="600" height="160"></canvas>
        <script src="{% static 'js/graph_data.js' %}"></script>
        <div class="load">
          <img src="{% static 'img/loading.gif' %}">
        </div>
      </div>
    </div>
  </div>
{% endblock main %}
